<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saumya.sharegram">
   <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:contentDescription="@null"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_sharegram_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home.MainPage" >


        </activity>
        <activity android:name=".Profile.AccountSettings"/>
        <activity android:name=".UserFeed.Userfeed"/>
        <activity android:name=".SignUp" />
        <activity android:name=".Search.Search"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".share.ShareActivity"></activity>
        <activity android:name=".share.NextActivity" />
        <activity android:name=".share.WifiDirectActivity">

        </activity>
        <activity android:name=".LogIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Suggestions.FriendSuggestion"/>
        <activity android:name=".camera.CropActivity"/>
        <activity android:name=".Profile.Profile">

        </activity>
        <activity
            android:name=".camera.TakePhotoActivity"
            android:screenOrientation="portrait">



        </activity>
        <activity android:name=".camera.FilterActivity"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="599f3c021d22446a86e72c4802d8841efe8a183c"
            />
    </application>
</manifest>